name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  ubuntu:
    name: Build (Ubuntu latest)
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            build-essential \
            bc \
            flex \
            bison \
            libelf-dev \
            linux-headers-generic

      - name: Build
        run: |
          KDIR=$(ls -d /lib/modules/*/build | head -n1)
          make all -j $(nproc) KDIR=$KDIR KCFLAGS=-Werror

  ubuntu-lts:
    name: Build (Ubuntu LTS)
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            build-essential \
            bc \
            flex \
            bison \
            libelf-dev \
            linux-headers-generic

      - name: Build
        run: |
          KDIR=$(ls -d /lib/modules/*/build | head -n1)
          make all -j $(nproc) KDIR=$KDIR KCFLAGS=-Werror

  debian:
    name: Build (Debian stable)
    runs-on: ubuntu-latest
    container:
      image: debian:stable-slim

    steps:
      - name: Install dependencies
        run: |
          apt-get update
          apt-get install -y \
            bc \
            bison \
            build-essential \
            flex \
            git \
            libelf-dev \
            linux-headers-amd64 \
            tar

      - uses: actions/checkout@v4

      - name: Build
        run: |
          KDIR=$(ls -d /usr/src/linux-headers-* | head -n1)
          make all -j $(nproc) KDIR=$KDIR KCFLAGS=-Werror

  opensuse-tumbleweed:
    # Use a very new kernel
    name: Build (openSUSE Tumbleweed)
    runs-on: ubuntu-latest
    container:
      image: registry.opensuse.org/opensuse/tumbleweed

    steps:
      - name: Install dependencies
        run: |
          zypper --non-interactive refresh
          zypper --non-interactive install \
            awk \
            bc \
            bison \
            flex \
            gcc \
            git \
            kernel-default-devel \
            libelf-devel \
            make \
            tar

      - uses: actions/checkout@v4

      - name: Build
        run: |
          KDIR=$(ls -d /usr/src/linux-obj/*/* | head -n1)
          make all -j $(nproc) KDIR=$KDIR KCFLAGS=-Werror
